*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}




form{
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-top: 50px;
	border-radius: 2px!important;

}

textarea{
	resize: none;
	height: 100px;
	color: #c1c1c1;
}


input, textarea{
	outline: none;
}

input[type="radio"]{
	display: none;
}


.form-register{
	width: 800px;
	padding: 15px;
	border-radius: 4px;
	border: 1px solid #c1c1c1;
	color: rgba(0, 0, 0, .8);
}

.form-title{
	margin-top: 0;
	margin-bottom: 25px;
	font-size: 1.7em;
	text-align: center;
	font-weight: bolder;
	font-weight: 5000;
}

.form-input{
	display: block;
	width: 1000px;
	padding: 8px;
	font-size: 1em;
	border: none;
	border-radius: 3px;
	outline: none;
	color: rgba(0, 0, 0, .8);
	background: #f1f1f1;
	border: 1px solid rgba(0, 0, 0, .3);
}


.container-flex, .form-label{
	width: 100%;
	font-weight: bolder;

}

.container-flex{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	align-items: center;
}

.title{
	padding-right: 210px;
}

.estados{
	color: rgba(0, 0, 0, .8);
	border: 1px solid rgba(0, 0, 0, .3);
	padding: 5px 55px;
	display: inline-block;
	border-radius: 3px;
	cursor:pointer;
	transition: .2s;
	
}

.estados:hover{
	background: #c1c1c1;
	border: 1px solid rgba(0, 0, 0, .4);
}



.form-submit{
	width: 100%;
	background: rgba(0, 0, 0, 1.4);
	padding: 10px;
	border: none;
	color: white;
	font-size: 0.9em;
	cursor: pointer;
	font-weight: bold;
}

p#texto{
	text-align: center!important;
	color: rgba(0, 0, 0, .8);
	font-weight: bolder;
	padding-top: 15px;
	cursor: pointer!important;
}

div#div_file{
	border: 1px solid rgba(0, 0, 0, .4);
	width: 100%;
	position: relative;
	-webkit-border-radius: 2px;
	cursor: pointer!important;

}


input#bton{
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	opacity: 0;
	cursor: pointer!important;
}

@media screen and (max-width: 799px){
	.form-input{
		width: 900px;
		margin-top: 10px;
	}
	.title{
		padding-right: 310px;
	}

	form{
		width: 100%!important;
	}

	.estados{
		width: 100%!important;
	}

}

@media screen and (max-width: 650px){
	.container-flex{
		display: block;
		width: 100%;
	}

	.form-input{
		width: 100%;
		margin-top: 10px;
	}

	form{
		width: 100%!important;
	}

}

@media screen and (max-width: 565px){
	.container-flex{
		display: block;
		justify-content: center;
	}

	.form-input{
		width: 100%;
		margin-top: 10px;
	}

	form{
		width: 100%!important;
	}
}

@media screen and (max-width: 402px){
	.estados{
		margin-top: 10px;
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 375px){
	form{
		width: 350px!important;
	}
}

@media screen and (max-width: 370px){
	form{
		width: 320px!important;
	}
}

@media screen and (max-width: 350px){
	form{
		width: 270px!important;
	}
}