@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow', sans-serif;

}

:root
{
--blue:  #455060;
--white: #f1f1f1;
--letter: #b0b8c1;
--hover: #353f47;
--letter2: #fff;

}

body{
	min-height: 100vh;
	overflow-x: hidden;
}

section{
	width: 60%;
	height: 100%;
	font-family: 'Chakra Petch', sans-serif;
	padding: 20px 0;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

iframe{
	margin-left: 50px;
	margin-top: 10px;
	width: 45%;
	height: 650px;
	border: none;
	background: var(--white);
}

footer{
	text-align: center;
	padding: 10px 30px 30px 0px;
	background:#455060;
	width: 100%;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	position: fixed;
	margin-top: 42%;
}

footer img{
	width: 3%;
	padding: 0 0 0 0 ;
	opacity: 80%;

}


footer h2{
	font-family: 'Quicksand', sans-serif;
	color: #b0b8c1;
	padding: 22px 0 10px 0;
}


.container{
	position: relative;
	width: 100%;
}

.slidebarlogo img{
	width: 200px;
}	

.navigation{
	position: fixed;
	width: 310px;
	height: 83%;
	background: var(--blue);
	border-left: 10px solid var(--blue);
	border-right: 10px solid var(--blue);
	transition: 0.5s;
	overflow: hidden;
}

.navigation	ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.navigation ul li{
	position: relative;
	width: 100%;
	list-style: none;
}
.navigation ul li:hover{
	background: var(--hover);
	border-radius: 4px;

}


.navigation ul li:nth-child(1){
	margin-bottom: 40px;
	pointer-events: none;
}

.navigation h3{
	color: #b0b8c1;
	opacity: 60%;
	padding: 0 15px;
	text-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
}

.navigation ul li a{
	position: relative;
	display: block;
	width: flex;
	text-decoration: none;
	color: var(--letter);
	padding: 0 15px;
}

.navigation ul li a:hover{
	color: var(--letter2);
}

.navigation ul, li, a{
	position: relative;
	display: block;
	min-width: 40px;
	height: 50px;
	line-height: 50px;

}

.slidebarlogo{
	padding-top: 10px;
	padding-left: 25px;
}

.inco i{
	font-size: 1.40em;
}



/*main*/

.main{
	position: absolute;
	width: calc(100% - 310px);
	left: 310px;
	min-height: 100vh;
	background: var(--white);
	transition: 0.5s;
}

.topbar{
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	padding: 0 10px;
	box-shadow: 2px 3px 6px	rgba(0, 0, 0, 0.2);
	align-items: center;
}



.search{
	position: relative;
	width: 250px;
	margin: 0 10px;
}

.search label{
	position: relative;
	width: 100%;
}

.search label input{
	width: 100%;
	height: 40px;
	border-radius: 40px;
	padding: 5px 20px;
	outline: none;
	border: 1px solid black;
	padding-left: 35px;
	background: var(--white);
}

.search label span{
	position: absolute;
	top: 0;
	left: 10px;
	font-size: 1.1rem; 
	color: black;
}

.roles{
	display: flex;
	position: relative;
}

.roles a{
	padding: 0 20px;
	text-decoration: none;
	color: black;
	font-weight: bolder;
	transition: 0.35s;
}
.roles a:hover{
	color: #42b38b;
}


.infousuario{
	display: flex;
	position: relative;
	padding-right: 20px;
	padding-top: 2px;
}

.usertype{
	display: block;
	text-align: center;
	justify-content: center;
}

.usertype h4{
	font-weight: bolder;
	color: var(--hover);
	font-size: 15px;
}

.infousuario h3{
	padding: 0 6px;
	padding-left: 10px;
}

.infousuario i{
	font-size: 52px;
	margin-left: 5px;
	color: #353f47;
}

.infousuario h3{
	padding: 2px 0;
	color: #353f47;
}

.singin{
	padding-left: 70px;
	padding-top: 3px;
}

.singin i{
	font-size: 30px;
	padding: 7px 0;
	color: #353f47;
	transition: 0.2s;
	position: absolute;
}

.singin i:hover{
	transform: translateX(3px);
	color: #42b38b;
}

/*contenido*/
.cardBox{
	position: relative;
	width: 100%;
	padding: 40px 30px;
	display: flex;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;	

}

.cardBox .card{
	position: relative;
	background: var(--white);
	padding: 30px 50px;
	display: flex;
	justify-content: space-between;
	box-shadow: 0 7px 18px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	cursor: pointer;
	transition: 0.3s;
}

.cardBox .card .numbers{
	position: relative;
	font-weight: bolder;
	font-size: 1.7em;
	padding-right: 10px;
	margin-top: 10px;
	color: var(--hover);
}

.cardBox .card .cardName{
	font-size: 1.1em;
	margin-top: 5px;
	font-weight: bolder;
	color: gray;
	opacity: 80%;
}

.iconBox i{
	font-size: 3.2em;
	color: gray;
	opacity: 80%;
	padding-top: 10px;
}

.card:hover{
	background: var(--blue);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox i{
	color: var(--white);
}

.details{
	display: flex;
}

.redes1{
	position: relative;
	top: 0;
	left: 0;
	padding-top: 30px;
	display: block;
}

.redes1, .facebook, .twitter, .instagram{
	height: 120px;
	width: 500px;
}

.facebook{
	background: #3c70a4;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: 0 7px 14px rgba(0, 0, 0, 0.2);	
}
.facebook, .twitter, .instagram li a{
	padding: 30px 34px;
	align-content: center;
	justify-content: center;
	text-align: left;
}

.twitter{
	background: #5bd1d7;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: 0 7px 14px rgba(0, 0, 0, 0.2);
}


.instagram{
	background: #F56040;
	margin-bottom: 20px;
	border-radius: 10px;
	box-shadow: 0 7px 14px rgba(0, 0, 0, 0.2);
}

.facebook li a i{
	color: white;
	font-size: 3.2em;
}

.twitter li a i{
	color: white;
	font-size: 3.2em;
}

.instagram li a i{
	color: white;
	font-size: 3.2em;
}

.facebook li a span{
	color: white;
	text-decoration: none;
	font-weight: bolder;
	font-size: 2.0em;
	padding: 0 0 50px 60px;
}

.facebook li a{
	list-style: none;
	text-decoration: none;
	padding-bottom: 50px;
}

.twitter li a span{
	color: white;
	text-decoration: none;
	font-weight: bolder;
	font-size: 2.0em;
	padding: 0 0 50px 60px;
}

.twitter li a{
	list-style: none;
	text-decoration: none;
	padding-bottom: 50px;
}

.instagram li a span{
	color: white;
	text-decoration: none;
	font-weight: bolder;
	font-size: 2.0em;
	padding: 0 0 50px 60px;
}

.instagram li a{
	list-style: none;
	text-decoration: none;
	padding-bottom: 50px;
}

.cuadro{
	margin: 0 30px;
}

section .cuadro{
	width: 220px;
	height: 300px;
	background: white;
	border-radius: 5px;
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	transition: all 0.25s;
	margin: 20px;
	padding: 30px 0;
}

.cuadro img{
	width: 70%;
}

.cuadro a{
	border-radius: 4px;
	text-decoration: none;
	color: black;
	margin: 10px 20px;
	position: relative;
	font-weight: bolder;
	font-size: 18px;

}

.tittle2{

}

.tittle2 a{
	left: 24.5%;
	color: whitesmoke;
	background: #4fd190;
	position: absolute;
	text-decoration: none;
	font-weight: bolder;
	padding: 0 28px;
	border-radius: 4px;
	box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
	transition: 0.35s;
	cursor: pointer;
}

.tittle2 a:hover{
	transform: scale(1.1);
}


.column{
	column-count: 3;
	padding: 18px 0 10px 0;
	font-family: 'Quicksand', sans-serif;
	color: #b0b8c1;
	display: block;
	width: 70%;
}


.col1{
	padding: 5px 0;
	font-size: 15px;

}


.col2{
	padding: 5px 0;
	font-size: 15px;
}


.col3{
	padding: 5px 0;
	font-size: 15px;
	
}

.column2{
	display: inline-block;
	padding: 12px 0 0px 0;
}

.column2 ul img{
	width: 30px;
	border-radius: 50%;
}

.col4 img{
	width: 20vh;
}

.redes{
	display: inline-flex;
	align-items: center;
	text-align: center;
	padding: 14px 0 5px 0;
	color: #b0b8c1;
	opacity: 60%;
}

.redes ul a img{
	width: 30px;
	border-radius: 50%;

}

.redes ul{
	display: inline-flex;
	padding-top: 9px;
}


.info3{
	display: inline-flex;
	padding: 0 20px 0 0;
	font-family: 'Chakra Petch', sans-serif;

}

.info3 p{
	text-align: right;
	padding: 0 70px;
}